#svg {
	background-color: rgb(39, 40, 34);
}

.node {
	stroke: rgb(253, 117, 33);
	fill:  rgb(253, 117, 33);
}
.node_active {
	fill: rgb(166, 226, 46);
}
.node_active ~ .node__text {
	fill: rgb(166, 226, 46);
}
.node__text {
	fill: rgb(134, 134, 134);
	font-family: "Arial";
	font-size: 9px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	pointer-events: none;
}

.link {
	/*stroke: rgb(253, 117, 33);*/
	stroke: rgb(117, 50, 0);
	fill: rgb(117, 50, 0);
	stroke-width: 1;
}
.link__text {
	fill: rgb(134, 134, 134);
	font-family: "Arial";
	font-size: 9px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	pointer-events: none;
}